@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --coffee-color:#B56A4B;
    --babyblue-color:#BFE4FF;
    --light-color: #F1DAF2;
    --pink-color:#FFC0BF;
    --lilac-color:#E1B1E0;
    --dark-color: #191919;
    --title-color:#CC6A90;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--light-color);
    align-items: center;
    text-align: center;
    margin: 0;
}

h2{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: var(--coffee-color);
    text-shadow: 1px 1px 1px var(--lilac-color);
    margin: 15px 15px 0;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
}

header{
    padding: 5px;
    margin:20px 0;
}

header img{
    width: 80%;
    margin: 10px auto 0;
}

footer{
    display: flex;
    flex-direction:column;
    width: 100%;
    background-color: #cc6a905d;
    font-family: 'Mulish', sans-serif;
}
.botones{
    display: flex;
    flex-direction: column;
    width:40%;
    margin:auto;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
}

.bpro{
    background-color:var(--title-color);
    border-radius: 15px;
    border-color: var(--title-color);
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border-style: solid;
    box-shadow: 2px 2px 3px var(--dark-color);
    font-size: 20px;
    text-shadow: 2px 2px 2px var(--dark-color);
    margin:5px 0 15px;
}

.bcap{
    background-color:var(--title-color);
    border-radius: 15px;
    border-color: var(--title-color);
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border-style: solid;
    box-shadow: 2px 2px 3px var(--dark-color);
    font-size: 20px;
    text-shadow: 2px 2px 2px var(--dark-color);
    margin:5px;
}
.bcap a, .bpro a{
    color: azure;
}
.personajes{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    padding: auto 10rem;
    margin: 30px auto;    
}

.nombre{
    font-size: 25px;
    color:var(--title-color);
    text-shadow: 3px 3px 3px white;
}

a{
    text-decoration: none;
}

.cajapersonaje{
    background-color: var(--babyblue-color);
    width: 320px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 3px 3px 12px var(--dark-color);
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}

.cpanda{
    background-color: var(--babyblue-color);
    color: var(--dark-color);
    font-family: 'Mulish', sans-serif;
}

.cajaper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fotounopd, .fotodospd{
    width: 90%;
    float: left;
    margin: auto 15px;
}

.fotounopd img{
    width: 280px;
}

.fotodospd img{
    height: 300px;
    margin-left: 10px ;
}

.cajaper:hover{
    transform: translate(-290px);
    transition: transform 1s ;
}

.fotounopl,.fotodospl{
    width: 100%;
    float: left;
    margin-left: 50px;  
}

.fotounopl img{
    width:  150px;
    margin: 0 45px;
}

.fotodospl img{
    height: 250px; 
    margin-left: 40px;   
}

.fotounopo, .fotodospo{
    width: 100%;
    float: left;
    margin: 0 30px 0 15px; 
}

.fotounopo img{
    margin: 0 35px 0 55px ;
    height: 320px;
}

.fotodospo img{
    height: 320px;
}

/*capitulos*/
.lista{
    width:80%;
    margin: auto;
    padding: 15px;
    text-align: justify;
}

.lista li{
    font-family: 'Mulish';
    font-size: 18px;
}

.lista ul{
    list-style-image:url(../img/pngwing.com\ \(1\)\ -\ copia.png);
}

.h2cap{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: var(--coffee-color);
    text-shadow: 4px 4px 4px var(--lilac-color);
    margin: 3px;
    font-size: 30px;
    text-align: center;
}

.formu{
    width: 90%;
    margin: 10px auto;
}

.npt{
    width: 20%;
    height: 43px;
    background-color:var(--pink-color);
    box-sizing:border-box;
    margin-top: 10px;
}

.lbl{
    width: 70%;
    font-family: 'Mulish', sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 5px 3px; 
    font-size: 16pt;
    font-weight: 500;
    margin-top: 15px;
}

#boton2{
    width: 128;
    height: 34;
    font-family: 'Mulish', sans-serif;
    background-color: var(--pink-color);
    border-radius: 9px;
    color:var(--dark-color);
    text-align: center;
    cursor: pointer;
    padding: 5px 35px ;
    font-size: 20px;

    } 

.span{
    font-weight: 400;
    font-size:20px;
    cursor: pointer;
    text-decoration:none;
}


@media screen and (min-width:768px){

    h2{
        font-size: 25px;
    }
    
    
    .bpro{
        padding: 1rem;
    }

    .bcap{
        padding: 1rem 2rem;
    }
    
    .cajapersonaje{
        width: 350px;
    }
    
    .fotounopd img{
        margin: auto 20px;
    }
    
    .fotodospd img{
        margin-left: 35px;
    }
    
    .cajaper:hover{
        transform: translate(-330px);
    }
    
    .fotounopl,.fotodospl{
        margin: auto 50px;  
    }
    
    .fotounopl img{
        margin: 0 60px;
    }
    
    .fotodospl img{
        margin-left: 15px;    
    }
    
    .fotounopo, .fotodospo{
        margin: 0 40px; 
    }
    
    .fotounopo img{
        margin: 0 40px;
    }
}

@media screen and (min-width:1024px){

    .botones{
        flex-direction: row;
        width:50%;
    }
    .bpro, .bcap{         
        font-size: 25px;
        margin: 0 50px;
    }
    
    .personajes{
        flex-direction: row;
    }
    
    .nombre{
        font-size: 30px;
    }
    
    .cajapersonaje{
        width: 300px;
    }
    .fotounopd img{
        margin: 0;
    }
    
    .fotodospd img{
        margin-left: 15px;
    }
    
    .cajaper:hover{
        transform: translate(-290px);
    }
    
    .fotounopl,.fotodospl{
        margin: 0 50px;  
    }
    .fotounopl img{
        width: 170px;
        margin: 0 0 0 20px;
    }
    
    .fotodospl img{
        height: 320px;
    }
    
    .fotounopo, .fotodospo{
        margin:0 10px 0px;
    } 
    
    .fotounopo img{
        width: 200px;
    }
    
    .fotodospo img{
        height: 290px;
        margin-left: 15px;
    }

    /*capitulos*/
.lista{
    width:50rem ;
    margin: auto;
    padding: 10px;
}

.lista li{
    font-family: 'Mulish';
    font-size: 30px;
}

.lista ul{
    list-style-image:url(../img/pngwing.com\ \(1\)\ -\ copia.png)
}

.h2cap{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: var(--coffee-color);
    text-shadow: 4px 4px 4px var(--lilac-color);
    margin: 3px;
    font-size: 40px;
    
}

.formu{
    width: 90%;
    margin: 10px auto;
}

.npt{
    width: 20%;
    height: 43px;
    background-color:var(--pink-color);
    box-sizing:border-box;
    margin-top: 10px;
}

.lbl{
    width: 70%;
    font-family: 'Mulish', sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 5px 3px; 
    font-size: 16pt;
    font-weight: 500;
    margin-top: 15px;
}

#boton2{
    width: 128;
    height: 34;
    font-family: 'Mulish', sans-serif;
    background-color: var(--pink-color);
    border-radius: 9px;
    color:var(--dark-color);
    text-align: center;
    cursor: pointer;
    padding: 5px 35px ;
    font-size: 20px;

    } 

.span{
    font-weight: 400;
    font-size:20px;
    cursor: pointer;
    text-decoration:none;
}
}

@media screen and (min-width:1200px){

    .espacio{
        width: 90%;
        margin: 0 auto;
    }
}