:root{
    --coffee-color:#B56A4B;
    --babyblue-color:#BFE4FF;
    --light-color: #F1DAF2;
    --pink-color:#FFC0BF;
    --lilac-color:#E1B1E0;
    --dark-color: #191919;
    --title-color:#CC6A90;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estilos panda*/
.bodypanda{
    background-color: var(--babyblue-color);
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
}
header{
    width: 90%;
    margin: 10px auto;
}

header img{
    width: 90%;
    margin: 10px 20px;
}

footer{
    padding: 20px 0;
    width: 100%;
    background-color: #cc6a905d;
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

.cajapanda{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 10px auto;    
}
.cont1{
    text-align: center;
    margin: auto;
}
.tcajap{
    margin: 10px;
    color: azure;
    text-shadow: 3px 3px 3px var(--dark-color);
    font-size: 5rem;
}
.cont2{
    display: grid;   
    grid-template-rows: auto auto;
    margin: auto;
    padding: 10px 5px;
}

.galpanda{
    width: 100%;
    height: 360px;
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: center;    
    overflow: hidden;
}

.cont3{
    display:grid;
    grid-template-columns: auto auto;
    gap: 50px;
    width: 70%;
    margin: auto 20px;
    justify-items: center;
}

.funo, .fdos{
    width: 250px;
    text-align: center;
    justify-items: center;
}

.funo img{
    height: 300px;
}

.fdos img{
    width: 300px;
}

.cont3:hover{
    transform: translate(-340px);
    transition: transform 1s ;
}
.parrcaja{
    width: 100%;
    text-align: justify;
    font-family: 'Mulish';
    font-size: 20px;
    padding:10px 15px;
}
/*Estilos polar*/
.bodypolar{
    background-image: url(../img/Frame\ 8.png);
}

.tcajapolar{
    padding: 0px;
    margin: 10px;
    color: azure;
    text-shadow: 3px 3px 3px var(--babyblue-color);
}

.parrcajapl{
    width: 550px;
    text-align: justify;
    font-family: 'Mulish';
    font-size: 20px;
    padding: 90px 10px;
}

.funopl, .fdospl{
    width: 250px;
    text-align: center;
    align-items: center;
    float: left;
    margin: 30px;
}

.funopl img{
    width: 270px;
}

.fdospl img{
    width: 250px;
    padding: 10px;
}

/*Estilos pardo*/
.bodypardo{
    background-image: url(../img/Frame\ 7.png);
}

.tcajapardo{
    padding: 0px;
    margin: 10px;
    color: azure;
    text-shadow: 3px 
    3px 3px var(--coffee-color);
}

.parrcajas{
    width: 550px;
    text-align: justify;
    font-family: 'Mulish';
    font-size: 20px;
    padding: 90px 10px;
}

.funopo, .fdospo{
    width: 250px;
    text-align: center;
    align-items: center;
    float: left;
    margin: 30px;
}

.funopo img{
    width: 180px;
}

.fdospo img{
    width: 180px;
}


@media screen and (min-width:768px){
    header img{
        width: 90%;
        margin: 10px  0 0 35px;
    }
    .galpanda{
        width: 100%;
        height: 360px;
        margin: auto;
        display: grid;
        justify-items: center;
        align-items: center;    
        overflow: hidden;
    }
    
    .cont3{
        display:grid;
        grid-template-columns: auto auto;
        gap: 50px;
        width: 70%;
        margin: auto 20px;
        justify-items: center;
    }
}

@media screen and (min-width:1024px){
    .bodypanda{
        background-image: url(../img/Frame\ 6.png);
        background-size: 100%;
    }

    header{
        margin: 10px auto 0;
    }

    header img{
        margin: 10px 15px 0 60px;
    }
    .cont1{
        text-align: center;
        margin: auto;
        width: 70%;
    }
    .tcajap{
        color: azure;
        text-shadow: 3px 3px 3px var(--dark-color);
        font-size: 8rem;
    }

    .cont2{ 
        width: 70%;
        grid-template-columns: auto auto;
        margin: auto;
        padding: 10px 5px;
        gap:20px;
    }


    .parrcaja{
        width: 100%;
        text-align: justify;
        align-items: center;
        justify-items: center;
        font-family: 'Mulish';
        font-size: 20px;
        padding:10px 15px;
    }
    .galpanda{
        width: 70%;
        margin: 0;

    }
    .cont3{
        display:grid;
        grid-template-columns: auto auto;
        gap: 40px;
        width: 40%;
        justify-items: center;
    }

    .funo, .fdos{
        width: 100%;

    }

    .cont3:hover{
        transform: translate(-360px);
        transition: transform 1s ;
    }

    footer{
        background-color: #dcb0f4;
    }
    
    
}

@media screen and (min-width:1200px){
    .espacio{
        width: 90%;
        margin: 0 auto;
    }

}