:root{
    --coffee-color:#B56A4B;
    --babyblue-color:#BFE4FF;
    --light-color: #F1DAF2;
    --pink-color:#FFC0BF;
    --lilac-color:#E1B1E0;
    --dark-color: #191919;
    --title-color:#CC6A90;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Estilos panda*/
.bodypanda{
    background-color: var(--babyblue-color);
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
}
header{
    width: 90%;
    margin: 10px auto;
}

header img{
    width: 90%;
    margin: 10px 20px;
}

footer{
    padding: 20px 0;
    width: 100%;
    background-color: #C3B8D7;
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

.cajapanda{
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 10px auto;    
}
.cont1{
    text-align: center;
    margin: auto;
}
.tcajap{
    margin: 10px;
    color: azure;
    text-shadow: 3px 3px 3px var(--dark-color);
    font-size: 5rem;
}
.cont2{
    display: grid;   
    grid-template-rows: auto auto;
    margin: auto;
    padding: 10px 5px;
}

.galpanda{
    width: 100%;
    height: 360px;
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: center;    
    overflow: hidden;
}

.cont3{
    display:grid;
    grid-template-columns: auto auto;
    gap: 50px;
    width: 70%;
    margin: auto 20px;
    justify-items: center;
}

.funo, .fdos{
    width: 250px;
    text-align: center;
    justify-items: center;
    float: left;
}

.fdos img{
    margin-left: 20px;
}

.cont3:hover{
    transform: translate(-340px);
    transition: transform 1s ;
}
.parrcaja{
    width: 100%;
    text-align: justify;
    font-family: 'Mulish';
    font-size: 20px;
    padding:10px 15px;
}
/*Estilos polar*/
.bodypolar{
    background-color: var(--pink-color);
}

.tcajapolar{
    margin: 10px;
    color: azure;
    text-shadow: 3px 3px 3px var(--babyblue-color);
    font-size: 5rem;
}

.funopl, .fdospl{
    width: 250px;
    text-align: center;
    align-items: center;
    float: left;
}

.cont3p{
    display:grid;
    grid-template-columns: auto auto;
    gap: 50px;
    width: 75%;
    margin: auto 10px;
    justify-items: center;
}

.cont3p:hover{
    transform: translate(-390px);
    transition: transform 1s ;
}

.fdospl img{
    padding-right: 20px;
    margin-left: -20px;
}


/*Estilos pardo*/
.bodypardo{
    background-color: var(--lilac-color);
}

.tcajapardo{
    margin: 10px;
    color: azure;
    text-shadow: 3px 
    3px 3px var(--coffee-color);
    font-size: 5rem;
}

.funopo, .fdospo{
    width: 250px;
    text-align: center;
    align-items: center;
    float: left;
}

.funopo img{
    width: 180px;
}

.fdospo img{
    width: 180px;
}

@media screen and (min-width:768px){
    header img{
        width: 90%;
        margin: 10px  0 0 35px;
    }
    
    .galpanda{
        width: 48%;
    }
    
    .parrcaja{
        padding:10px 25px;
    }
}

@media screen and (min-width:1024px){
    .bodypanda{
        background-image: url(../img/Frame\ 6.png);
        background-size: 100%;
    }

    header{
        margin: 10px auto 0;
    }

    header img{
        margin: 10px 15px 0 60px;
    }
    .cont1{
        text-align: center;
        margin: auto;
        width: 70%;
    }
    .tcajap{
        font-size: 7rem;
    }

    .cont2{
        grid-template-columns: auto auto auto;
        width: 80%;
    }
    .galpanda{
        width: 100%;
    }
    .cont3{
        display:grid;
        grid-template-columns: auto auto;
        gap: 50px;
        width: 80%;
        margin: auto;
    }
    .cont3:hover{
        transform: translate(-340px);
        transition: transform 1s ;
    }

    .funo img{
        margin-left: 30px;
    }

    .fdos img{
        margin-left: 70px;
    }

    .funopo img{
        width: 180px;
        margin-left: 10px;
    }
    
    .fdospo img{
        width: 180px;
        margin-left: 85px;
    }

    .bodypardo{
        background-image: url(../img/Frame\ 7.png);
        background-size: 100%;
    }

    .bodypolar{
        background-image: url(../img/Frame\ 8.png);
        background-size: 100%;
    }

    .cont3p{
        display:grid;
        grid-template-columns: auto auto;
        gap: 50px;
        width: 80%;
        margin: auto;
    }
    .cont3p:hover{
        transform: translate(-340px);
        transition: transform 1s ;
    }

    .fdospl img{
        padding-right: 20px;
        margin-left: -40px;
    }
}

@media screen and (min-width:1200px){
    .espacio{
        width: 90%;
        margin: auto;
    }
    .cont2{
        align-items: center;
    }

    .funo img{
        margin-left: 60px;
    }

    .fdos img{
        margin-left: 150px;
    }

    .funopo img{
        margin-left: 100px;
    }
    
    .fdospo img{
        margin-left: 150px;
    }

    .funopl img{
        margin-left: 150px;
    }

    .fdospl img{
        margin-left: 15px;
    }

    .cont3p:hover{
        transform: translate(-400px);
    }
}